@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Krona+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

#texto_encriptador::placeholder {
  color: #0a3871;
  font-size: 24px;
}

body {
  background-color: #E5F4E3;
}

.contenedor {
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  height: 80vh;
}

.textarea_estilo {
  background-color: #E5F4E3;
  border: none;
  resize: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
}
.textarea_estilo:focus {
  border: none;
  outline: none;
  
}

.izquierda {
  width: 65%;
  display: flex;
  justify-content: center;
}

.derecha {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 35%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}

.texto_resultado {
  text-align: left;
  overflow: auto;
  word-wrap: break-word; /* Permite saltos de línea en palabras largas */
  font-family: "Bree Serif", serif;
  font-style: normal;
  font-size: 20px;
}

.contenedor_botones {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;

}

.boton_encriptar {
  width: 30%;
  padding: 8px;
  background-color: #0a3871;
  border-radius: 24px;
  color: white;
  border: 1px solid #0a3871;
  cursor: pointer;
}
.boton_encriptar:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
  border: grey;
}

.boton_desencriptar {
  width: 30%;
  padding: 8px;
  background-color: #d8dfe8;
  border-radius: 24px;
  color: #0a3871;
  border: 1px solid #0a3871;
  cursor: pointer;
}

.boton_desencriptar:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
  border: grey;
}

.contenedor_copiar {
 position: absolute;
 right: 5px;
 bottom: 5px;
 cursor: pointer;
}
#boton_copiar {
  display: none;

}
.boton_copiar {
  cursor: pointer;
}

.texto-caracteres {
  width: 60%;
  height: 20px;
  text-align: center;
}

.mensaje_temporal {
  width: 30%;
  padding: 1px;
  position: absolute;
  height: 25px;
  top: -30px;
  right: 0px;
  background-color: #5E9C76;
  color: white;
  text-align: center;
  border-radius: 5px;
  align-items: center;
}
#mensaje_copiado {
  display: none;
}
.mensaje_encriptado {
  width: 40%;
  position: absolute;
  height: 25px;
  top: -30px;
  right: 0px;
  background-color: #95190C;
  color: white;
  text-align: center;
  border-radius: 5px;
}
#verificar_mensaje {
  display: none;
}

.contenedor_imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imagen_resultado {
  width: 250px;


}

.mensaje_inicial {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.imagen_loader{
width: 50px;
height: 45px;

}
#imagen_loader{
  display: none;
}

.imagen_error{
width: 50px;
height: 45px;

}
#imagen_error {
  display: none;
}