@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Krona+One&display=swap");

:root {
  --fuente-principal: "Bree Serif", serif;
  --color-primario: #0a3871;
  --color-secundario: #E7F0DC;
  --color-terciario: #e5f4e3;
  --color-cuarternario: #FFFF;
}

* {
  margin: 0;
  padding: 0;
}

#texto_encriptador::placeholder {
  color: var(--color-primario);
  font-size: 1.5rem;
}
header {
  box-sizing: border-box;
  width: 65%;
  padding: 1.25rem 1.25rem; 
  box-sizing: border-box;
}
body {
  background-color: var(--color-secundario);
  height: 100vh;
}

.contenedor {
  padding: 0 1.25rem 0 1.25rem;
  display: flex;
  gap: 0.625rem;
  box-sizing: border-box;
  max-height: 80vh;
}

.textarea_estilo {
  width: 95%;
  height: 67vh;
  background-color: var(--color-secundario);
  border: none;
  resize: none;
  font-family: var(--fuente-principal);
  font-size: 1.5rem;
  
}
.textarea_estilo:focus {
  border: none;
  outline: none;
}

.boton_reiniciar{
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease; 
  cursor: pointer;
}
.boton_reiniciar:active {
  transform: translate(5px, 5px); 
}
#boton_reiniciar {
  display: none;
}

.izquierda {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.derecha {
  background-color: var(--color-terciario);
  border-radius: 0.313rem;
  padding: 0 0.625rem;
  width: 35%;
  height: 90vh;
  display: flex;
 justify-content: center;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 5px 15px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 10px 5px 15px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 10px 5px 15px rgba(0, 0, 0, 0.06);
  position: relative;
  margin-top: -3.75rem;
}

.texto_resultado {
  text-align: left ;
  overflow: auto;
  word-wrap: break-word; /* Permite saltos de línea en palabras largas */
  font-family: var(--fuente-principal);
  font-style: normal;
  font-size: 1.25rem;
}
.contenedor_izquierda {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.contenedor_botones {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.625rem;
  gap: 3.125rem;
  box-sizing: border-box;
}

.boton_encriptar {
  width: 40%;
  padding: 0.625rem;
  background-color: var(--color-primario);
  border-radius: 0.5rem;
  color: var(--color-cuarternario);
  border: 0.063rem solid var(--color-primario);
  cursor: pointer;
  font-family: var(--fuente-principal);
  font-size: 1rem;
  transition: transform 0.3s ease; 
}
.boton_encriptar:active {
  transform: translate(5px, 5px);
}
.boton_encriptar:disabled {
  background-color: grey;
  color: var(--color-cuarternario);
  cursor: not-allowed;
  border: grey;
}

.boton_desencriptar {
  width: 40%;
  padding: 0.625rem;
  background-color: var(--color-primario);
  border-radius: 0.5rem;
  color: var(--color-cuarternario);
  border: 0.063rem solid var(--color-primario);
  cursor: pointer;
  font-family: var(--fuente-principal);
  font-size: 1rem;
  transition: transform 0.3s ease; 
}
.boton_desencriptar:active {
  transform: translate(5px, 5px); 
}
.boton_desencriptar:disabled {
  background-color: grey;
  color: var(--color-cuarternario);
  cursor: not-allowed;
  border: grey;
}

.contenedor_copiar {
  position: absolute;
  right: 0.313rem;
  bottom: 0.313rem;
}
#boton_copiar {
  display: none;
}
.boton_copiar {
  cursor: pointer;
  border-style: none;
}

.contenedor_caracteres {
  width: 65%;
  height: 1.25rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.313rem;
  box-sizing: border-box;
}

.texto-caracteres {
  font-family: var(--fuente-principal);
  font-size: 0.7rem;
  color: #A02334;
}
.imagen_info {
  width: 0.938rem;
  height: 0.938rem;
}

.mensaje_temporal {
  width: 30%;
  padding: 0.063rem;
  position: absolute;
  height: 1.25rem;
  top: -1.563rem;
  right: 0rem;
  background-color: #5e9c76;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 0.313rem;
  font-family: var(--fuente-principal);
  font-size: 0.8rem;

}
#mensaje_copiado {
  display: none;
}


.contenedor_imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.imagen_resultado {
  width: 15.625rem;
}

.mensaje_inicial {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--fuente-principal);
  position: relative;
  z-index: 2;
}

.mensaje_secundario {
  text-align: center;
  font-size: 0.938rem;
  font-family: var(--fuente-principal);
  position: relative;
  z-index: 2;
}


.imagen_loader {
  width: 3.125rem;
  position: absolute;
  transform: translate(-50%); 
  margin-top: -0.875rem;
  }
  

#imagen_loader {
  display: none;
}

.imagen_error {
  width: 3.125rem;
  height: 2.813rem;
  position: absolute;
  transform: translate(-50%); 
  margin-top: -0.275rem;
}
#imagen_error {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .contenedor {
    flex-direction: column;
    align-items: center; /* Centrar los elementos */
  }
  .izquierda, .derecha {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  .derecha {
    margin-top: 1.875rem; /* Espacio entre contenedores */
    height: 35vh;
  }
  .textarea_estilo {
    width: 90%;
    height: 40vh;
  }
  .contenedor_botones, .contenedor_caracteres{
    width: 90%;
  }
  .boton_encriptar, .boton_desencriptar{
    width: 50%;
  }
  .imagen_resultado {
    width: 12.5rem;
  }
  .mensaje_inicial{
    font-size: 1.25rem;
  }
  .mensaje_secundario{
    font-size: 0.938rem;
  }
  .imagen_loader{
    width: 2.5rem;
    margin-top: -0.625rem;
   }
   .texto-caracteres {
    font-size: 1rem;
    
  }
  .mensaje_temporal {
    width: 20%;
  
  }
}
@media (min-width: 390px) and (max-width: 767px) {
  
  .contenedor {
    flex-direction: column;
    align-items: center; /* Centrar los elementos */
  }
  .izquierda, .derecha {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  .derecha {
    margin-top: 1.875rem; /* Espacio entre contenedores */
    height: 35vh;
  }
  .textarea_estilo {
    width: 88%;
    height: 30vh;
  }
  .imagen_resultado {
    width: 12.5rem;
  }
  .contenedor_botones, .contenedor_caracteres{
    width: 90%;
  }
  .boton_encriptar, .boton_desencriptar{
    width: 50%;
  }
  .mensaje_inicial{
    font-size: 0.938rem;
  }
  .mensaje_secundario{
    font-size: 0.625rem;
  }
.imagen_loader{
 width: 2.5rem;
 margin-top: -0.625rem;
}
  .boton_reiniciar {
    position: absolute;
    top: 0.0631rem;
    right: 0rem;
  }

}

@media (min-width: 360px) and (max-width: 389px) {
  
  .contenedor {
    flex-direction: column;
    align-items: center; /* Centrar los elementos */
  }
  .izquierda, .derecha {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  .derecha {
    margin-top: 1.875rem; /* Espacio entre contenedores */
    height: 35vh;
  }
  .textarea_estilo {
    width: 88%;
    height: 30vh;
  }
  .imagen_resultado {
    width: 12.5rem;
  }
  .contenedor_botones, .contenedor_caracteres{
    width: 90%;
  }
  .boton_encriptar, .boton_desencriptar{
    width: 50%;
  }
  .mensaje_inicial{
    font-size: 0.8rem;
  }
  .mensaje_secundario{
    font-size: 0.5rem;
  }
.imagen_loader{
 width: 2.0rem;
 margin-top: -0.565rem;
}
.imagen_error {
  width: 2.125rem;
  height: 1.813rem;
 
}
  .boton_reiniciar {
    position: absolute;
    top: 0.0631rem;
    right: 0rem;
  }

}

